@import "tailwindcss";
@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/IRANSansX-Thin.woff") format("woff");
}
@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/IRANSansX-UltraLight.woff") format("woff");
}
@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/IRANSansX-Light.woff") format("woff");
}
@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/IRANSansX-Medium.woff") format("woff");
}
@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/IRANSansX-DemiBold.woff") format("woff");
}
@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/IRANSansX-ExtraBold.woff") format("woff");
}
@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/IRANSansX-Black.woff") format("woff");
}
@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 950;
    src: url("/fonts/IRANSansX-ExtraBlack.woff") format("woff");
}
@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 1000;
    src: url("/fonts/IRANSansX-Heavy.woff") format("woff");
}
@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: bold;
    src: url("/fonts/IRANSansX-Bold.woff") format("woff");
}
@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/IRANSansX-Regular.woff") format("woff");
}
@theme {
    --font-IRANSansX: "IRANSansX";
    --breakpoint-side:60.625rem;
    --breakpoint-product_user:43.125rem;
}
@utility primary-bg {
    @apply bg-linear-to-t from-[#019d79] to-[#00bf8f] cursor-pointer duration-150 hover:opacity-90 transition-all text-white rounded-md focus-within:ring-2 focus-within:ring-teal-500/60 border border-[#1bd1a7];
}
@utility flex-center {
    @apply flex items-center justify-center;
}
@layer base {
    body {
        @apply overflow-x-hidden! font-IRANSansX;
    }
}
@layer components {
    .input-style{
        @apply border-2 border-zinc-200 rounded-lg h-10 px-3 outline-[#019d79]
    }
    .pagination-button {
        @apply h-8 min-w-8 cursor-pointer rounded-md px-2 text-sm font-medium transition-all duration-200;
    }
    .active-tab {
        @apply cursor-pointer bg-black/10 text-black shadow-sm;
    }
    .not-active-tab {
        @apply text-gray-400 hover:bg-black/5 hover:text-black;
    }
    .pagination {
        @apply mt-8 flex items-center justify-center gap-1 border-t-2 p-4 border-zinc-200 *:cursor-pointer;
    }
    .pagination-prev_next-button {
        @apply h-8 rounded-md px-3 text-sm font-medium transition-all duration-200;
    }
    .pages-ended {
        @apply cursor-not-allowed opacity-30 hover:bg-transparent hover:text-gray-400;
    }
    .badge {
        @apply flex max-h-max max-w-max select-none items-center gap-1 rounded-md border px-1 py-0.5 text-xs hover:opacity-80;
        &.success-badge {
            @apply bg-green-500/10 text-green-500;
        }
        &.danger-badge {
            @apply bg-red-500/10 text-red-500;
        }
        &.admin-badge {
            @apply bg-blue-400/90;
        }
        &.support-badge {
            @apply bg-orange-400/90;
        }
        &.user-badge {
            @apply bg-green-400/90;
        }
    }
    .link-text {
        @apply cursor-pointer text-sm text-blue-500 underline underline-offset-1;
    }
}
::-webkit-scrollbar {
    @apply rounded-full overflow-hidden!;
    width: 0px;
}
::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
}
::-webkit-scrollbar-thumb {
    border-radius: 0;
    @apply bg-teal-500/40;
}
::-webkit-scrollbar-thumb:horizontal {
    background: red;
    border-radius: 1px;
}